<div class="container-fluid">
    <div *ngIf="!servicioViajes.cargandoViajes" class="row fh5co-post-entry single-entry">
        <article *ngIf="!servicioFotos.cargandoFotos" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 animated fadeIn">
            <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/viajesFiltrados/{{servicioViajes.anyoViaje}}"><a routerLink="/viajesFiltrados/{{servicioViajes.anyoViaje}}">  {{ 'viaje.volver' | translate}}</a></span>
            <figure class="animated zoomInDown">
                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].principal}}" alt="{{servicioFotos.fotosLista[0].principal}}" class="img-responsive">
            </figure>
            
            <div *ngFor="let transporte of servicioViajes.viajesDetalleLista[0].transporte" class="disposicion">
                <img src="assets/icons/{{transporte}}" alt="Image" class="img-responsive iconos animated rollIn">
            </div>

            <h2 class="fh5co-article-title"><a>{{servicioViajes.viajesDetalleLista[0].destino}}</a></h2>
            <!-- <span class="fh5co-meta fh5co-date">March 6th, 2016</span> -->
            <span class="fh5co-meta fh5co-date">{{ 'viaje.desde' | translate }} <b>{{servicioViajes.viajesDetalleLista[0].diaInicio}} de {{'mesAnyo.'+servicioViajes.viajesDetalleLista[0].mesInicio | translate }}</b> {{ 'viaje.hasta' | translate }} <b>{{servicioViajes.viajesDetalleLista[0].diaFin}} de {{'mesAnyo.'+servicioViajes.viajesDetalleLista[0].mesFin | translate }}</b></span>
            
            
            <div *ngFor="let persona of servicioViajes.viajesDetalleLista[0].personas" class="disposicion">
                <img src="assets/images/perfiles/fotoPerfil{{persona}}.jpg" alt="Image" class="img-responsive fotoPerfil animated bounceInRight">
            </div>

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r">
                        <h2 *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.tituloParte1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.tituloParte1' | translate}}</h2>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo1' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo2' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo3' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque1_parrafo3' | translate}}</p>
                    </div>                    
                </div>

                <div class="row trioFotos">
                    <div class="col-md-4">
                        <figure>
                            <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto1}}" alt="foto1" class="img-responsive">
                            <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto1' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto1' | translate}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto2}}" alt="foto2" class="img-responsive">
                            <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto2' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto2' | translate}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto3}}" alt="foto3" class="img-responsive">
                            <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto3' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto3' | translate}}</figcaption>
                        </figure>
                    </div>                    
                </div>

                <div *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.cita1' != ''" class="row rp-b">
                    <div class="col-md-12">
                        <blockquote>
                            <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.cita1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.cita1' | translate}}<cite>{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.personaCita1' | translate}}</cite></p>
                        </blockquote>
                    </div>
                </div>

                <div class="row rp-b">
                    <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 3" class="col-lg-6 col-md-12">
                        <figure>
                            <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto4}}" alt="foto4" class="img-responsive">
                            <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto4' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto4' | translate}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-6 col-md-12 cp-l">
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo1' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo2' != ''" >{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo2' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo3' != ''" >{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque2_parrafo3' | translate}}</p>
                    </div>
                </div>                

                <div class="col-lg-4">
                    <!-- <div class="fh5co-highlight right"> -->
                        <!-- <h4 *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.nota1' != ''">{{ 'viaje.destacado' | translate}}</h4> -->
                        <h4 *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.nota1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.nota1' | translate}}</h4>
                        <br>                        
                    <!-- </div> -->
                </div>
                
                <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 4" class="col-lg-6 col-lg-push-6 col-md-12 col-md-push-0">
                    <figure>
                        <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto5}}" alt="foto5" class="img-responsive">
                        <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto5' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto5' | translate}}</figcaption>
                    </figure>
                </div>
                <div class="col-md-12">
                    <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo1' | translate}}</p>
                    <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo2' | translate}}</p>
                    <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo3' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque3_parrafo3' | translate}}</p>
                </div>
                
                <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 5" class="row rp-b">
                    <div class="col-lg-6 col-lg-push-6 col-md-12 col-md-push-0">
                        <figure>
                            <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto6}}" alt="foto6" class="img-responsive">
                            <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto6' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto6' | translate}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-6 col-lg-pull-6 col-md-12 col-md-pull-0 cp-r">
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo1' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo2' | translate}}</p>

                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo3' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque4_parrafo3' | translate}}</p>
                    </div>
                </div>

                <iframe *ngIf="servicioViajes.viajesDetalleLista[0].mapaSrc[0] != ''" class="mapa" [src]="servicioViajes.viajesDetalleLista[0].mapaSrc[0] | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <div class="row">
                    <div class="col-md-12">
                        <h2 *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.tituloParte2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.tituloParte2' | translate}}</h2>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque5_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque5_parrafo1' | translate}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque5_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque5_parrafo2' | translate}}</p>
                    </div>
                    <div class="row dobleFotos">
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 6" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto7}}" alt="foto7" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto7' != ''"> {{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto7' | translate}}</figcaption>
                            </figure>
                        </div>
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 7" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto8}}" alt="foto8" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto8' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto8' | translate}}</figcaption>
                            </figure>
                        </div>                                           
                    </div>
                    <div class="row dobleFotos">
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 8" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto9}}" alt="foto9" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto9' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto9' | translate}}</figcaption>
                            </figure>
                        </div> 
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 9" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto10}}" alt="foto10" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto10' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto10' | translate}}</figcaption>
                            </figure>
                        </div>                                           
                    </div>
                    
                    <div class="col-md-12">
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque6_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque6_parrafo1' | translate}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque6_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque6_parrafo2' | translate}}</p>
                    </div>

                    <div class="row dobleFotos">
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 10" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto10}}" alt="foto10" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto11' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto11' | translate}}</figcaption>
                            </figure>
                        </div> 
                        <div *ngIf="servicioViajes.viajesDetalleLista[0].numFotos > 11" class="col-md-4">
                            <figure>
                                <img src="assets/images/{{servicioViajes.anyoViaje}}/{{servicioFotos.fotosLista[0].foto11}}" alt="foto11" class="img-responsive">
                                <figcaption *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto12' != ''">{{servicioViajes.viajesDetalleLista[0].fechaInicio+'.descFoto12' | translate}}</figcaption>
                            </figure>
                        </div>                                           
                    </div>
                    <div class="col-md-12">
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque7_parrafo1' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque7_parrafo1' | translate}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque7_parrafo2' != ''">{{ servicioViajes.viajesDetalleLista[0].fechaInicio+'.bloque7_parrafo2' | translate}}</p>
                    </div>

                </div>

                <!-- <div class="col-lg-4">
                    <div class="fh5co-highlight right">
                        <h4>{{ 'viaje.datosViaje' | translate}}</h4>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].destino != ''">{{ 'viaje.destino' | translate}} : {{ servicioViajes.viajesDetalleLista[0].destino}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].provincia != ''">{{ 'viaje.provincia' | translate}} : {{ servicioViajes.viajesDetalleLista[0].provincia}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].pais != ''">{{ 'viaje.pais' | translate}} : {{ servicioViajes.viajesDetalleLista[0].pais}}</p>                        
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].categoria != ''">{{ 'header.categoria' | translate}} : {{ servicioViajes.viajesDetalleLista[0].categoria}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].estancia != ''">{{ 'viaje.estancia' | translate}} : {{ servicioViajes.viajesDetalleLista[0].estancia}}</p>
                        <p *ngIf="servicioViajes.viajesDetalleLista[0].precio != 0">{{ 'viaje.precio' | translate}} : {{ servicioViajes.viajesDetalleLista[0].precio}} €</p>
                    </div>
                </div> -->

                <!-- <div class="video-container">
                    <div class="vid-border">
                        <div >                
                            <div>
                                <h1 class="tituloVideo">{{video.titulo}}</h1>
                            </div>
                            
                            <video class="video-item" controls muted >
                                <source *ngIf="!video.url.includes('youtube')" src="assets/videos/{{video.url}}">                                   
                                {{ 'app.videoNoSoportado' | translate }}
                            </video>
                
                            <h2 class="descripcionVideo">{{video.descripcion}}</h2>
                
                        </div> 
                    </div>    
                </div>
                 -->

                 <div class="col-lg-4">
                    <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/viajesFiltrados/{{servicioViajes.anyoViaje}}"><a routerLink="/viajesFiltrados/{{servicioViajes.anyoViaje}}"><b>{{ 'viaje.volver' | translate}}</b></a></span>
                </div>                
                
            </div>
        </article>
    </div>
</div>
