.divVolver {
  text-align: left;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}

.divLeft {
  float: left;
  margin-left: 5px;
  font-size: 14px !important;
}

.iconoFlecha {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: rgb(247, 200, 115);
  border-radius: 15px;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.centrada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSeguridad {
  width: 60px;
  height: 60px;
  /* margin: 10px; */
}
