.idioma {
  background: transparent;
  border-color: transparent;
}

.imagenPerfil {
  margin-top: -15px;
  width: 100%;
  height: 40%;
  align-self: center;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
}

.margenTop {
  margin-top: -25px;
}

.iconoChancla {
  width: 30px;
  height: 30px;
  padding: 1px;
  cursor: pointer;
}

.iconRelatos {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.iconFamilia {
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.iconoViajeros {
  width: 30px;
  height: 30px;
  padding: 1px;
  cursor: pointer;
  margin-top: -60px;
  margin-left: 30px;
}

.iconoCasa {
  width: 30px;
  height: 30px;
  padding: 1px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;
}

.seleccionado {
  border-radius: 30px;
  border: 2px solid grey;
  background-color: rgb(255, 228, 177);
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}

.iconosImgFav6 {
  padding: 0px;
  width: 30px;
  height: 30px;
  align-self: center;
  cursor: pointer;
}

.liViajes {
  margin-top: 15px !important;
}

#botonLupa {
  background: transparent;
  border-color: transparent;
}

#myInput {
  width: 200px !important;
}

#busquedaForm {
  display: inline-flex !important;
}

#fh5co-offcanvas {
  width: 300px !important;
}

#fh5co-offcanvas .fh5co-menu,
#fh5co-offcanvas .fh5co-bio {
  width: 100%;
}

.menuBloques {
  margin-top: -30px;
}

.pulse {
  animation-name: pulse;
  animation-timing-function: linear !important;
  animation-iteration-count: 2 !important;
}

@keyframes pulseInfinito {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulseInfinito {
  animation-name: pulseInfinito;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradiente {
  background: linear-gradient(-45deg, #c3deeb, #abd6eb, #96d9f8, #84d6fc);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
