.idiomas{
    justify-content: space-between !important;
    display: inline-block !important;
}

.idioma{
    background: transparent;
    border-color: transparent;
}

.imagenPerfil{
    /* padding: 15px; */
    width: 40%;
    height: 40%;
    align-self: center;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;

}

.seleccionado{
    /* border: 10px solid transparent; *//*PARA HACER LA IMAGEN MÁS PEQUEÑA, LA QUE ESTÉ SELECCIONADA*/
    border-radius: 30px;    
    border: 2px solid grey;
 }

 .imagenLupa{
    /* border-radius: 25px;     */
    padding: 2px;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
 }

 #botonLupa{
    background: transparent;
    border-color: transparent;
 }

 #myInput{
    width: 200px !important;

 }

 #busquedaForm{
    display: inline-flex !important;
 }

 #fh5co-offcanvas{
    width: 300px !important;    
 }

 #fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio{
    width: 100%;
 }




