<div class="divVolver">
  <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="iconoFlecha animated pulsePeque zoomInDown" routerLink="/principal/"><a routerLink="/principal/">  {{ 'viaje.volver' | translate}}</a></span>
</div>
<div class="container">
  <div class="page">
      <h1>Título 1</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ante a sapien condimentum posuere.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec leo vel augue posuere ultrices.
      </p>
      <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fringilla ipsum vel augue aliquet, eget convallis velit fringilla.
          Nulla tincidunt justo at nisl vehicula lacinia.
      </p>
  </div>
  <div class="page">
      <!-- <h1>Página 2</h1> -->
      <p>
          Mauris accumsan lorem vel massa feugiat, non cursus ipsum viverra. Integer auctor lobortis mi, eget mattis lectus feugiat non.
          Etiam nec tincidunt ligula. Ut tempor lectus sit amet orci laoreet rutrum.
      </p>
      <p>
          Nunc auctor ex id gravida efficitur. Curabitur scelerisque libero at arcu ultricies, ut laoreet mauris tempus. Sed hendrerit mauris ut tristique venenatis.
      </p>
  </div>
  <div class="page">
    <!-- <h1>Página 3</h1> -->
    <p>
        Mauris accumsan lorem vel massa feugiat, non cursus ipsum viverra. Integer auctor lobortis mi, eget mattis lectus feugiat non.
        Etiam nec tincidunt ligula. Ut tempor lectus sit amet orci laoreet rutrum.
    </p>
    <p>
        Nunc auctor ex id gravida efficitur. Curabitur scelerisque libero at arcu ultricies, ut laoreet mauris tempus. Sed hendrerit mauris ut tristique venenatis.
    </p>
  </div>
  <div class="page">
    <h1>Título 2</h1>
    <p>
        Mauris accumsan lorem vel massa feugiat, non cursus ipsum viverra. Integer auctor lobortis mi, eget mattis lectus feugiat non.
        Etiam nec tincidunt ligula. Ut tempor lectus sit amet orci laoreet rutrum.
    </p>
    <p>
        Nunc auctor ex id gravida efficitur. Curabitur scelerisque libero at arcu ultricies, ut laoreet mauris tempus. Sed hendrerit mauris ut tristique venenatis.
    </p>
  </div>

  <!-- Agrega más páginas según sea necesario -->
</div>
