<!-- Para autenticarse en la aplicación -->
<div *ngIf="authenticationService.isLoggedInRelatoIaia() === false">
  <br><br><br><br><br><br><br>
  <div class="imagenCentrada">
    <img src="assets/icons/seguridad.png" class="iconSeguridad animated fadeIn pulse">
  </div>
  <br><br>
  <app-login></app-login>
  <div class="divVolver">
    <br><br><br><br>
    <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="animated fadeIn pulse iconoFlecha" routerLink="/principal/"><a routerLink="/principal/">  {{ 'app.listaViajes' | translate}}</a></span>
  </div>
  <br>
</div>
<div *ngIf="authenticationService.isLoggedInRelatoIaia()">
  <div *ngIf="this.esModoLibro === false">
    <div class="container-fluid">
      <div class="row fh5co-post-entry single-entry">
          <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <!-- <div class="divRight">
              <span class="fh5co-meta"><img src="assets/icons/libro.png" class="animated fadeIn pulse iconoLibro" (click)="onClickCambiaModo()"><a (click)="onClickCambiaModo()">{{ 'app.versionLibro' | translate}}</a></span>
            </div> -->
            <div class="divVolver">
              <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="animated fadeIn pulse iconoFlecha" routerLink="/principal/"><a routerLink="/principal/">  {{ 'app.listaViajes' | translate}}</a></span>
            </div>
              <span class="fh5co-meta"><a>{{ 'relatoIaiaAna.subtitulo' | translate }} ({{edadIaia}} {{'app.edad' | translate}})</a></span>
              <img src="assets/icons/anciana.png" alt="iaia" class="icon animated fadeIn">
              <img src="assets/icons/relatos.png" alt="relatos" class="icon animated fadeIn">
              <h2 class="fh5co-article-title "><a>{{ 'relatoIaiaAna.titulo' | translate }}</a></h2>
              <span class="fh5co-meta fh5co-date ">{{ 'relatoIaiaAna.fecha' | translate }}</span>
              <br>
              <figure class="animated zoomInDown">
                <a target="_blank" href="assets/images/relatoIaiaAna/relatoIaia1.jpg"><img src="assets/images/relatoIaiaAna/relatoIaia1.jpg" loading="lazy" alt="Image" class="img-responsive"></a>
                <figcaption>{{ 'relatoIaiaAna.descFoto1' | translate}}</figcaption>
              </figure>
              <div class="row">
                  <div class="col-md-12 ">
                      <h2>{{ 'relatoIaiaAna.tituloParte1' | translate}}</h2>
                      <p>{{ 'relatoIaiaAna.bloque1_parrafo1' | translate}}</p>
                  </div>
              </div>

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about1.jpg"><img src="assets/images/PENDIENTE/about/about1.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto1' | translate}}</figcaption>
              </figure> -->

              <div class="row">
                  <div class="col-md-12 ">
                      <p>{{ 'relatoIaiaAna.bloque1_parrafo2' | translate}}</p>
                      <p>{{ 'relatoIaiaAna.bloque1_parrafo3' | translate}}</p>
                      <p>{{ 'relatoIaiaAna.bloque1_parrafo4' | translate}}</p>
                  </div>
              </div>

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about2.jpg"><img src="assets/images/PENDIENTE/about/about2.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto2' | translate}}</figcaption>
              </figure> -->

              <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                          <h2>{{ 'relatoIaiaAna.tituloParte2' | translate}}</h2>
                          <p>{{ 'relatoIaiaAna.bloque2_parrafo1' | translate}}</p>
                      </div>
                  </div>
              </div>

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about3.jpg"><img src="assets/images/PENDIENTE/about/about3.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto3' | translate}}</figcaption>
              </figure> -->

              <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                          <p>{{ 'relatoIaiaAna.bloque2_parrafo2' | translate}}</p>
                          <p>{{ 'relatoIaiaAna.bloque2_parrafo3' | translate}}</p>
                      </div>
                  </div>
              </div>

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about4.jpg"><img src="assets/images/PENDIENTE/about/about4.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto4' | translate}}</figcaption>
              </figure> -->



              <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                          <p>{{ 'relatoIaiaAna.bloque4_parrafo1' | translate}}</p>
                          <p>{{ 'relatoIaiaAna.bloque4_parrafo2' | translate}}</p>

                      </div>
                  </div>
                  <div class="row rp-b">
                      <div class="col-md-12 ">
                          <blockquote>
                              <p>{{ 'relatoIaiaAna.cita2' | translate }}<cite>{{ 'relatoIaiaAna.personaCita2' | translate }}</cite></p>
                          </blockquote>
                      </div>
                  </div>
              </div>

              <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25858.91538660873!2d-5.339125348129315!3d35.889089409627005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0ca3e7e929acef%3A0x40463fd8ca1c640!2sCeuta!5e0!3m2!1ses!2ses!4v1709636593081!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about5.jpg"><img src="assets/images/PENDIENTE/about/about5.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto5' | translate}}</figcaption>
              </figure> -->

              <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                        <p>{{ 'relatoIaiaAna.bloque4_parrafo3' | translate}}</p>
                        <p>{{ 'relatoIaiaAna.bloque4_parrafo4' | translate}}</p>
                      </div>
                  </div>
              </div>

              <figure>
                  <a target="_blank" href="assets/images/relatoIaiaAna/relatoIaia2.jpg"><img src="assets/images/relatoIaiaAna/relatoIaia2.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto6' | translate}}</figcaption>
              </figure>

              <!-- <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                          <p>{{ 'relatoIaiaAna.bloque6_parrafo1' | translate}}</p>
                          <p>{{ 'relatoIaiaAna.bloque6_parrafo2' | translate}}</p>
                      </div>
                  </div>
              </div> -->

              <!-- <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about7.jpg"><img src="assets/images/PENDIENTE/about/about7.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto7' | translate}}</figcaption>
              </figure> -->

              <!-- <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                  <div class="row">
                      <div class="col-lg-8 cp-r ">
                          <h2>{{ 'relatoIaiaAna.tituloParte3' | translate}}</h2>
                          <p>{{ 'relatoIaiaAna.bloque7_parrafo1' | translate}}</p>
                          <figure>
                              <a target="_blank" href="assets/images/PENDIENTE/about/about8.jpg"><img src="assets/images/PENDIENTE/about/about8.jpg" loading="lazy" alt="" class="img-responsive"></a>
                              <figcaption>{{ 'relatoIaiaAna.descFoto8' | translate}}</figcaption>
                          </figure>
                          <p>{{ 'relatoIaiaAna.bloque7_parrafo2' | translate}}</p>
                      </div>
                  </div>
              </div> -->

              <figure>
                  <a target="_blank" href="assets/images/PENDIENTE/about/about9.jpg"><img src="assets/images/PENDIENTE/about/about9.jpg" loading="lazy" alt="" class="img-responsive"></a>
                  <figcaption>{{ 'relatoIaiaAna.descFoto9' | translate}}</figcaption>
              </figure>
              <!-- <div class="row">
                  <div *ngFor="let viajero of viajerosService.viajerosLista" class="row dobleFotos">
                      <figure>
                          <a target="_blank" href="{{viajero.fotoPerfil}}"><img src="{{viajero.fotoPerfil}}" alt="{{viajero.nombreCorto}}" class="img-responsive"></a>
                          <figcaption>{{viajero.nombreCorto}} ({{viajero.edad}} {{ 'app.edad' | translate}})</figcaption>
                      </figure>
                  </div>
              </div> -->

              <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row rp-b">
                    <div class="col-md-12 ">
                        <blockquote>
                            <p>{{ 'relatoIaiaAna.cita1' | translate }}<cite>{{ 'relatoIaiaAna.personaCita1' | translate }}</cite></p>
                        </blockquote>
                    </div>

                    <figure>
                      <a target="_blank" href="assets/images/favoritos/fotoFav70.jpg"><img src="assets/images/favoritos/fotoFav70.jpg" loading="lazy" alt="" class="img-responsive"></a>
                      <figcaption class="centrarTexto">{{ 'relatoIaiaAna.descFoto10' | translate}}</figcaption>
                    </figure>

                    <div class="bodyUrl">
                      <div class="container">
                        <p>{{ 'relatoIaiaAna.tituloRefranes' | translate}}</p>
                        <br>
                        <h3><b>{{ 'relatoIaiaAna.personaRefranMaria' | translate}}</b></h3>
                        <ul>
                          <li>{{ 'relatoIaiaAna.refranMaria1' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria2' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria3' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria4' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria5' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria6' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria7' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria8' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria9' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria10' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria11' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria12' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria13' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria14' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria15' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria16' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranMaria17' | translate}}</li>
                        </ul>
                        <h3><b>{{ 'relatoIaiaAna.personaRefranPaco' | translate}}</b></h3>
                        <ul>
                          <li>{{ 'relatoIaiaAna.refranPaco1' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranPaco2' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranPaco3' | translate}}</li>
                        </ul>
                        <h3><b>{{ 'relatoIaiaAna.personaRefranCarmen' | translate}}</b></h3>
                        <ul>
                          <li>{{ 'relatoIaiaAna.refranCarmen1' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranCarmen2' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranCarmen3' | translate}}</li>
                          <li>{{ 'relatoIaiaAna.refranCarmen4' | translate}}</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>


              <div class="divLeft">
                  <span class=""><img src="assets/icons/flechaAtras.png" class="animated fadeIn pulse iconoFlecha" routerLink="/principal/"><a routerLink="/principal/">  {{ 'app.listaViajes' | translate}}</a></span>
              </div>
              <!-- <div class="divRight">
                  <a routerLink="/viaje/2019-04-06_Fanzara">{{ 'viaje.empezar' | translate}}</a>&nbsp;
                  <img src="assets/icons/flechaDer.png" class="animated fadeIn pulse iconoFlecha" routerLink="/viaje/2019-04-06_Fanzara">
              </div> -->

          </article>
      </div>
    </div>

  </div><!-- fin modo web -->

</div><!-- de la autenticación -->
