<div class="videoContenedor animated fadeIn" routerLink="/about/">
  <video loop poster="assets/images/inicio.jpg">
    <source src="assets/videos/inicio.mp4" type="video/mp4">
    <source src="assets/videos/inicio.webm" type="video/webm">
    <source src="assets/videos/inicio.ogg" type="video/ogg">
    {{ 'app.videoNoSoportado' | translate }}
  </video>
  <div class="textoEnVideo" routerLink="/about/">{{ 'viaje.conocerHistoria' | translate}}
    <img src="assets/icons/flechaDer.png" class="animated fadeIn iconoFlechaPeque" routerLink="/about/">
  </div>
</div>
<div class="cuerpoImagenes">
  <div class="icon-container">
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/home/"><img src="assets/icons/viajes.png" alt="viajes" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/frases/"><img src="assets/icons/frases.png" alt="frases" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/favoritos/"><img src="assets/icons/favorito.png" alt="favorito" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/galeria/"><img src="assets/icons/galeria.png" alt="galeria" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/about/"><img src="assets/icons/familia.png" alt="familia" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/relatos/"><img src="assets/icons/relatos.png" alt="relatos" class="icon animated fadeIn pulse"></a></div>

    <!-- <div class="icon"><img src="assets/icons/viajes.png" alt="viajes"></div>
    <div class="icon"><img src="assets/icons/frases.png" alt="frases"></div>
    <div class="icon"><img src="assets/icons/favorito.png" alt="favorito"></div>
    <div class="icon"><img src="assets/icons/galeria.png" alt="galeria"></div>
    <div class="icon"><img src="assets/icons/familia.png" alt="familia"></div>
    <div class="icon"><img src="assets/icons/relatos.png" alt="relatos"></div> -->
  </div>
</div>

