<div class="videoContenedor animated fadeIn" routerLink="/about/">
    <video loop poster="assets/images/inicio.jpg">
        <source src="assets/videos/inicio.mp4" type="video/mp4">
        <source src="assets/videos/inicio.webm" type="video/webm">
        <source src="assets/videos/inicio.ogg" type="video/ogg">
        {{ 'app.videoNoSoportado' | translate }}
    </video>
    <div class="textoEnVideo" routerLink="/about/">{{ 'viaje.conocerHistoria' | translate}}
      <img src="assets/icons/flechaDer.png" class="animated fadeIn pulse iconoFlechaPeque" routerLink="/about/">
    </div>
</div>
