<div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <!-- <div class="fh5co-spacer fh5co-spacer-sm"></div> -->
                <h3 class="tituloContacto"><img src="assets/icons/correo.png" alt="" class="iconosImg animated rollIn">  &nbsp;{{ 'app.contactoQR' | translate }}</h3>
                <br>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="nombreTxt" type="text" class="form-control" placeholder="{{ 'app.nombre' | translate }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="emailTxt" type="email" class="form-control" placeholder="{{ 'app.email' | translate }}">
                            </div>
                            <div class="form-group">
                                <textarea id="mensajeTxt" cols="30" class="form-control" rows="5" (input)="calculaCorreo()"></textarea>
                            </div>
                            <div class="form-group">
                                <!-- <button class="botonEnviar"> -->
                                    <a class="btn btn-primary anclaEnviar" href="{{correo}}" target="_top"><b>{{ 'app.enviaMensaje' | translate }}</b></a>
                                <!-- </button> -->

                            </div>
                        </div>
                    </div>
                </form>
                <div class="divQR color">
                    <h5 class="centraTexto">{{ 'app.comparte' | translate }}</h5>
                    <img src="assets/images/TravelQR.png" loading="lazy" alt="" class="imagenQR">
                </div>
            </div>
        </div>
    </div>
</div>
