<br>
<h2 class="tituloFrases">
    <img src="assets/icons/goodOne.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.frasesTitulo' | translate }}
</h2>
<h3 class="subTituloFrases">
    <img src="assets/icons/great.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.frasesSubtitulo1' | translate }}
</h3>
<h4 class="subTituloFrases">
    {{ 'app.frasesSubtitulo2' | translate }}
</h4>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
<div *ngIf="(servicioFrases.cargandoFrases$ | async) === true" class="spinner-container">
  <div class="spinner"></div>
  <span> &nbsp; {{ 'app.cargando' | translate}}</span>
</div>

<!-- <div class="divAka">
  <h3>{{ 'app.familiaApodos' | translate}}<img src="assets/icons/apodo.png" class="animated fadeIn iconoApodo"></h3>
  <ul>
    <div *ngFor="let viajero of viajerosService.viajerosLista">
      <li>
        <span class="nombre">{{viajero.nombreCorto}} ({{viajero.edad}} {{ 'app.edad' | translate}})</span>
        <div *ngFor="let apodo of viajero.aka">
          <span class="apodos">{{apodo}}</span>
        </div>
      </li>
    </div>
  </ul>
</div>-->
<br><br>
<div class="filtrado animated rollIn">
  <h3 class="heading">{{ 'header.buscar' | translate }}</h3>
    <form id="busquedaForm">
      <div id="busquedaForm" class="form-group">
          <input id="myInputFrase" type="text" class="form-control gradiente" placeholder="{{ 'app.frasesFiltrado' | translate }}">
              <button id="botonLupa" (click)="buscarFrases()">
                  <img src="assets/icons/lupa.gif" alt="" class="iconosImg">
              </button>
      </div>
  </form>
</div>

<div *ngIf="servicioFrases.frases.length > maxSizeDisplay" class="paginacion">
  <pagination-controls class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
</div>

<div *ngFor="let frase of servicioFrases.frases | paginate: { itemsPerPage: pageSize, currentPage: p }" class="bloqueFrase">
  <figure>
    <h4 class="frasePersona">{{frase.persona}} ({{frase.anyo}})</h4>
    <blockquote>
      <cite class="frasePersona">«{{ 'frases.'+frase.id+'.frase' | translate}}»</cite>
      <br>
      <p class="letraExplicacion">{{ 'frases.'+frase.id+'.explicacion' | translate}}</p>
    </blockquote>
  </figure>
</div>

<div class="center">
  <span *ngIf="servicioFrases.frases.length == 0"> {{ 'app.sinResultados' | translate}}</span>
</div>

<div *ngIf="servicioFrases.frases.length > maxSizeDisplay" class="paginacion">
  <pagination-controls class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
</div>

<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
