<div class="cuerpo">
  <div class="book">
    <input class = "input" type="checkbox" id="c1">
    <input class = "input" type="checkbox" id="c2">
    <input class = "input" type="checkbox" id="c3">
    <input class = "input" type="checkbox" id="c4">
    <input class = "input" type="checkbox" id="c5">
    <div id="cover">
        <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
    </div>
    <div class="flip-book">
      <div class="flip" id="p1">
        <div class="back">
            <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
            <!-- <label  for="c1" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
        </div>
        <div class="front">
          <h2>{{ '2023-03-12.tituloParte1' | translate}}</h2>
          <p class="p">{{ '2023-03-12.bloque1_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque1_parrafo2' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque1_parrafo3' | translate}}</p>
          <div>
            <!-- <label for="c2" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label> -->
            <label for="c1" class="next-btn"><img src="assets/icons/flechaDer.png" class="iconoFlecha"></label>
          </div>
        </div>
      </div>

      <div class="flip" id="p2">
        <div class="back">
          <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
          <!-- <label for="c2" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
        </div>
        <div class="front">
          <!-- <h2>{{ '2023-03-12.tituloParte1' | translate}}</h2> -->
          <p class="p">{{ '2023-03-12.bloque2_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque2_parrafo2' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque2_parrafo3' | translate}}</p>
          <div>
            <label for="c1" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label>
            <label for="c2" class="next-btn"><img src="assets/icons/flechaDer.png" class="iconoFlecha"></label>
          </div>
        </div>
      </div>

      <div class="flip" id="p3">
        <div class="back">
            <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
            <!-- <label for="c3" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
        </div>
        <div class="front">
          <h2>{{ '2023-03-12.tituloParte2' | translate}}</h2>
          <p class="p">{{ '2023-03-12.bloque3_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque3_parrafo2' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque3_parrafo1' | translate}}</p>
          <div>
            <label for="c2" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label>
            <label for="c3" class="next-btn"><img src="assets/icons/flechaDer.png" class="iconoFlecha"></label>
          </div>
        </div>
      </div>

      <div class="flip" id="p4">
        <div class="back">
            <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
            <!-- <label for="c3" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
        </div>
        <div class="front">
          <!-- <h2>{{ '2023-03-12.tituloParte2' | translate}}</h2> -->
          <p class="p">{{ '2023-03-12.bloque4_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque4_parrafo2' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque4_parrafo1' | translate}}</p>
          <div>
            <label for="c3" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label>
            <label for="c4" class="next-btn"><img src="assets/icons/flechaDer.png" class="iconoFlecha"></label>
          </div>
        </div>
      </div>

      <div class="flip" id="p5">
        <div class="back">
            <!-- <img class="img" src="assets/images/pic_1.jpg" alt=""> -->
            <!-- <label for="c3" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
        </div>
        <div class="front">
          <!-- <h2>{{ '2023-03-12.tituloParte2' | translate}}</h2> -->
          <p class="p">{{ '2023-03-12.bloque5_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque5_parrafo2' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque6_parrafo1' | translate}}</p>
          <p class="p">{{ '2023-03-12.bloque6_parrafo2' | translate}}</p>
          <div>
            <label for="c4" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label>
            <label for="c5" class="next-btn"><img src="assets/icons/flechaDer.png" class="iconoFlecha"></label>
          </div>
        </div>
      </div>

      <div class="flip" id="p6">
          <div class="back">
              <!-- <label for="c4" class="back-btn"><img src="assets/icons/flechaIzq.png" class="iconoFlecha"></label> -->
          </div>
          <div class="front">
            <label for="c5" class="back-btn"><img src="assets/icons/flechaIzq.png" class="barraPaginas iconoFlecha"></label>
          </div>
      </div>
    </div>
  </div>
</div>
