.iconos {
    width: 50px;
    height: 50px;
    padding: 5px;    
}

.disposicion{
    display: inline-flex;
}

.iconosImg{
    /* border-radius: 25px;     */
    padding: 2px;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    margin-top: -10px;
 }

 .iconosImgCalendario{
    /* border-radius: 25px;     */
    padding: 2px;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    margin-top: 0px;
 }

.fotoPerfil{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 5px;   
}

.subtitulo{
    text-align: right;
    font-size: 26px;
    margin-right: 25px;
 }


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 60%;
    margin: auto;
}

.tituloOrdenar{
    justify-content: space-between;
 }

.divOrdenar{
    text-align: left;
 }

.divVolver{
    text-align: right;
    margin-top: -35px;
    margin-right: 15px;
}

.iconoFlecha {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color : rgb(247, 200, 115);
    border-radius: 15px;
}

.iconoFlechaColor {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color : rgb(219, 237, 255);
    border-radius: 15px;
}

.iconoFlechaImg{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color : rgb(247, 200, 115);
    border-radius: 15px;
    /* margin-top: 30px; */    
}

.ancla{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.botonOrdenar{
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    margin-left: 20px;
}

 
