<div class="tituloOrdenar">
    <div class="divOrdenar">
        <button *ngIf="!orderDesc" class="botonOrdenar animated zoomInDown" (touchstart)="ordenar('touchstart')" (click)="ordenar('click')"><img src="assets/icons/flechaAbajo.png" class="iconoFlecha"> {{ 'app.ordenar' | translate }}</button> 
        <button *ngIf="orderDesc" class="botonOrdenar animated zoomInDown" (touchstart)="ordenar('touchstart')" (click)="ordenar('click')"><img src="assets/icons/flechaArriba.png" class="iconoFlecha"> {{ 'app.ordenar' | translate }}</button>     
    </div>
    <div class="divVolver">
        <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="iconoFlecha animated zoomInDown" routerLink="/home/"><a routerLink="/home/">  {{ 'viaje.volver' | translate}}</a></span>
    </div>
</div>

<h2 *ngIf="mensajeCabeceraAnyo" class="fh5co-article-title subtitulo"><a>{{ 'header.mensajeCabeceraAny' | translate }} <b>{{palabra}}</b></a></h2>
<h2 *ngIf="mensajeCabeceraFiltrar" class="fh5co-article-title subtitulo"><a>{{ 'header.mensajeCabeceraFiltrar' | translate }} <b>{{'header.'+palabra | translate}}</b></a></h2>
<h2 *ngIf="mensajeCabeceraFiltrarSinTranslate" class="fh5co-article-title subtitulo"><a>{{ 'header.mensajeCabeceraFiltrar' | translate }} <b>{{palabra}}</b></a></h2>


<div *ngIf="!servicioViajes.cargandoViajes" class="container-fluid animated fadeIn">
    <div class="row fh5co-post-entry">
        <div *ngFor="let viajes of servicioViajes.viajesDetalleLista">
            <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12">
                
                <div *ngIf="!servicioViajes.cargandoViajes" id="theCarousel{{viajes.identificadorFotos}}" class="carousel slide">
                    <!-- Indicadores  data-ride="carousel"-->
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#theCarousel" data-slide-to="1"></li>
                        <li data-target="#theCarousel" data-slide-to="2"></li>
                        <li data-target="#theCarousel" data-slide-to="3"></li>                    
                    </ol> -->
                
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"><img src="assets/images/{{viajes.year}}/{{viajes.identificadorFotos}}Principal.jpg" alt="" > </a>
                            <!-- <div class="carousel-caption d-none d-md-block">
                                <h3>Gusti Ilustración</h3>
                                <p>Exposición</p>
                            </div> -->
                        </div>

                        <div class="item">
                            <a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"><img src="assets/images/{{viajes.year}}/{{viajes.identificadorFotos}}1.jpg" alt=""> </a>
                            <!-- <div class="carousel-caption d-none d-md-block">
                                <h3> Xataka Fotografía</h3>
                                <p>Concurso</p>
                            </div> -->
                        </div>
                
                        <div class="item">
                            <a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"><img src="assets/images/{{viajes.year}}/{{viajes.identificadorFotos}}2.jpg" alt=""></a>
                            <!-- <div class="carousel-caption d-none d-md-block">
                                <h3>DoArt Pintura</h3>
                                <p>Curso</p>
                            </div> -->
                        </div>

                        <div class="item">
                            <a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"><img src="assets/images/{{viajes.year}}/{{viajes.identificadorFotos}}3.jpg" alt=""> </a>
                            <!-- <div class="carousel-caption d-none d-md-block">
                                <h3>UX UI Diseño Gráfico</h3>
                                <p>Curso</p>
                            </div> -->
                        </div>                
                
                        <a class="left carousel-control ancla" href="#theCarousel{{viajes.identificadorFotos}}" role="button" data-slide="prev">
                            <img src="assets/icons/flechaIzq.png" class="animated fadeIn iconoFlechaImg">
                            <!-- <span class="glyphicon-chevron-left" aria-hidden=""><</span> -->
                            <!-- <span class="sr-only">Anterior</span> -->
                        </a>
                        <a class="right carousel-control ancla" href="#theCarousel{{viajes.identificadorFotos}}" role="button" data-slide="next">
                            <img src="assets/icons/flechaDer.png" class="animated fadeIn iconoFlechaImg">
                            <!-- <span class="glyphicon-chevron-right" aria-hidden="">></span> -->
                            <!-- <span class="sr-only">Siguiente</span> -->
                        </a>
                    </div>
                </div>
                

                <!-- <figure>
                    <a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"><img src="assets/images/{{viajes.year}}/{{viajes.identificadorFotos}}Principal.jpg" alt="" class="img-responsive"></a>
                </figure> -->

                <br>
                <div *ngFor="let persona of viajes.personas" class="disposicion">
                    <img src="assets/images/perfiles/fotoPerfil{{persona}}.jpg" alt="Image" class="img-responsive fotoPerfil animated bounceInRight">
                </div>
                <span class="fh5co-meta"><a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}">
                    <img *ngIf="viajes.categoria == 'Playa'" src="assets/icons/playa.png" alt="" class="iconosImg animated rollIn">
                    <img *ngIf="viajes.categoria == 'Ciudad'" src="assets/icons/ciudad.png" alt="" class="iconosImg animated rollIn">
                    <img *ngIf="viajes.categoria == 'Montaña'" src="assets/icons/montanya.png" alt="" class="iconosImg animated rollIn">
                    <img *ngIf="viajes.categoria == 'Nieve'" src="assets/icons/nieve.png" alt="" class="iconosImg animated rollIn">
                    &nbsp;{{viajes.provincia}} &nbsp;{{viajes.year}}</a></span>

                <!-- <span class="fh5co-meta"><a routerLink="/viaje/Tossa">{{viajes.pais}}</a></span> -->
                <h2 class="fh5co-article-title"><a routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}">{{viajes.destino}} &nbsp;<img src="assets/icons/flechaDer.png" class="animated fadeIn iconoFlechaColor" routerLink="/viaje/{{viajes.fechaInicio}}_{{viajes.destino}}"></a></h2>
                <!-- <h2 class="fh5co-article-title"><a routerLink="/viaje/Tossa">{{viajes.provincia}}</a></h2>
                <h2 class="fh5co-article-title"><a routerLink="/viaje/Tossa">{{viajes.pais}}</a></h2> -->
                <span class="fh5co-meta fh5co-date">{{ 'viaje.desde' | translate }} <b>{{viajes.diaInicio}} de {{'mesAnyo.'+viajes.mesInicio | translate }}</b></span>
                <span class="fh5co-meta fh5co-date">{{ 'viaje.hasta' | translate }} <b>{{viajes.diaFin}} de {{'mesAnyo.'+viajes.mesFin | translate }}</b></span>
                <div *ngFor="let transporte of viajes.transporte" class="disposicion">
                    <img src="assets/icons/{{transporte}}" alt="Image" class="img-responsive iconos animated rollIn">
                </div>
            </article>        
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>
</div>