<div class="container-fluid">
    <div class="row fh5co-post-entry single-entry">
        <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <div class="divVolver">
                <span class="fh5co-meta"><img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/home/"><a routerLink="/home/">  {{ 'viaje.volver' | translate}}</a></span>
            </div>
            <figure class="animated zoomInDown">
                <a target="_blank" href="assets/images/perfiles/fotoPerfilFamilia.jpg"><img src="assets/images/perfiles/fotoPerfilFamilia.jpg" alt="Image" class="img-responsive"></a>
            </figure>
            <span class="fh5co-meta "><a>{{ 'about.titulo' | translate }}</a></span>
            <h2 class="fh5co-article-title "><a>{{ 'about.subtitulo' | translate }}</a></h2>
            <span class="fh5co-meta fh5co-date ">{{ 'about.fecha' | translate }}</span>

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row rp-b">
                    <div class="col-md-12 ">
                        <blockquote>
                            <p>{{ 'about.cita1' | translate }}<cite>{{ 'about.personaCita1' | translate }}</cite></p>
                        </blockquote>
                    </div>
                </div>    
            </div>    
            <div class="row">
                <div class="col-md-12 ">
                    <h2>{{ 'about.tituloParte1' | translate}}</h2>
                    <p>{{ 'about.bloque1_parrafo1' | translate}}</p>
                    <p>{{ 'about.bloque1_parrafo2' | translate}}</p>
                    <p>{{ 'about.bloque1_parrafo3' | translate}}</p>
                </div>                
            </div>
            
            <figure>
                <a target="_blank" href="assets/images/about/single_1.jpg"><img src="assets/images/about/single_1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r ">
                        <p>{{ 'about.bloque2_parrafo1' | translate}}</p>
                        <p>{{ 'about.bloque2_parrafo2' | translate}}</p>
                        <p>{{ 'about.bloque2_parrafo3' | translate}}</p>
                    </div>
                </div>                
            </div>

            <figure>
                <a target="_blank" href="assets/images/about/person1.jpg"><img src="assets/images/about/person1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 

            

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r ">
                        <h2>{{ 'about.tituloParte2' | translate}}</h2>
                        <p>{{ 'about.bloque4_parrafo1' | translate}}</p>
                        <p>{{ 'about.bloque4_parrafo2' | translate}}</p>
                        <p>{{ 'about.bloque4_parrafo3' | translate}}</p>
                    </div>
                </div>
                <div class="row rp-b">
                    <div class="col-md-12 ">
                        <blockquote>
                            <p>{{ 'about.cita2' | translate }}<cite>{{ 'about.personaCita2' | translate }}</cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <figure>
                <a target="_blank" href="assets/images/about/pic_1.jpg"><img src="assets/images/about/pic_1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r ">
                        <p>{{ 'about.bloque5_parrafo1' | translate}}</p>
                        <p>{{ 'about.bloque5_parrafo2' | translate}}</p>                        
                    </div>
                </div>
            </div>

            <figure>
                <a target="_blank" href="assets/images/about/single_1.jpg"><img src="assets/images/about/single_1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r ">
                        <p>{{ 'about.bloque6_parrafo1' | translate}}</p>
                        <p>{{ 'about.bloque6_parrafo2' | translate}}</p>    
                    </div>
                </div>
            </div>

            <figure>
                <a target="_blank" href="assets/images/about/single_1.jpg"><img src="assets/images/about/single_1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-8 cp-r ">
                        <h2>{{ 'about.tituloParte3' | translate}}</h2>
                        <p>{{ 'about.bloque7_parrafo1' | translate}}</p>
                        <p>{{ 'about.bloque7_parrafo2' | translate}}</p>
                    </div>
                </div>
            </div>

            <figure>
                <a target="_blank" href="assets/images/about/single_1.jpg"><img src="assets/images/about/single_1.jpg" alt="" class="img-responsive"></a>
                <!-- <figcaption></figcaption> -->
            </figure> 
            <br><br><br>

            <div class="row">
                <div *ngFor="let viajero of viajerosService.viajerosLista" class="row dobleFotos">
                    <figure>
                        <a target="_blank" href="{{viajero.fotoPerfil}}"><img src="{{viajero.fotoPerfil}}" alt="{{viajero.nombreCorto}}" class="img-responsive"></a>
                        <figcaption>{{viajero.nombreCompleto}} ({{viajero.edad}} {{ 'about.edad' | translate}})</figcaption>
                    </figure>   
                </div>                         
            </div>

            <div class="divRight">
                <a routerLink="/viaje/2019-04-06_Fanzara">{{ 'viaje.empezar' | translate}}</a>&nbsp;
                <img src="assets/icons/flechaDer.png" class="animated fadeIn iconoFlecha" routerLink="/viaje/2019-04-06_Fanzara">                    
            </div>

        </article>
    </div>
</div>
