
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal">
  <a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
<h2 class="tituloMapa">
  <img src="assets/icons/mapa.png" alt="" class="iconosImg animated rollIn">
  &nbsp;{{ 'app.tituloMapa' | translate }}
</h2>
<h3 class="subTituloMapa">
  <img src="assets/icons/viajarMundo.png" alt="" class="iconosImgFav animated rollIn">
 {{ 'app.subtituloMapa1' | translate }}
</h3>

<div *ngIf="(servicioLocalizaciones.cargandoLocalizaciones$ | async) === true" class="spinner-container">
  <div class="spinner">
  </div>
  <span> &nbsp; {{ 'app.cargando' | translate}}</span>
</div>

<!-- <div class="leyenda">
  <div class="leyenda-item" *ngFor="let persona of personas">
    <div class="leyenda-color" [style.background-color]="colores[persona]"></div>
    <div class="leyenda-texto">{{ persona }}</div>
  </div>
</div> -->
<br>

<div class="contenedor-mapa">
  <div id="map" class="map">
    <button class="buttonCentrar" (click)="centrarMapa()"><img src="assets/icons/casa2.png" alt="" class="iconoCasa animated rollIn"></button>
  </div>
</div>

<div id="tooltip" class="tooltip" (click)="buttonCloseTooltip()"></div>

<br><br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
