.divAka {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.nombre {
  font-weight: bold;
}
.apodos {
  margin-left: 20px;
  color: #666;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.iconosImgFav5 {
  padding: 0px;
  width: 40px;
  height: 40px;
  align-self: center;
  margin-top: -10px;
}

.iconosImg2 {
  padding: 0px;
  width: 50px;
  height: 50px;
  align-self: center;
  margin-top: -10px;
}
