<br>
<h2 class="titulo">
    <img src="assets/icons/firma.png" alt="" class="iconosImgFav5 animated rollIn">
   {{ 'app.apodosTitulo' | translate }}
</h2>
<h3 class="subTitulo">
    <img src="assets/icons/apodo2.png" alt="" class="iconosImg2 animated rollIn">
   {{ 'app.apodosSubtitulo1' | translate }}
</h3>
<h4 class="subTitulo">
  <img src="assets/icons/apodo.png" alt="" class="iconosImgFav5 animated rollIn">
  {{ 'app.apodosSubtitulo2' | translate }}
</h4>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>


<!-- Para autenticarse en la aplicación -->
<div *ngIf="authenticationService.isLoggedIn() === false">
  <br><br><br>
  <app-login></app-login>
  <br>
</div>


<div *ngIf="authenticationService.isLoggedIn()">

  <br>
  <div class="divAka">
    <h3>{{ 'app.familiaApodos' | translate}}</h3>
    <img src="assets/icons/familia.png" alt="familia" class="icon animated fadeIn">
    <ul>
      <div *ngFor="let viajero of viajerosService.viajerosLista">
        <li>
          <span class="nombre">{{viajero.nombreCorto}} ({{viajero.edad}} {{ 'app.edad' | translate}})</span>
          <br>
          <span class="info">{{viajero.info}}</span>
          <br>
          <div *ngFor="let apodo of viajero.aka">
            <span class="apodos">{{apodo}}</span>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div> <!-- de la autenticacion -->

<br>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
