<br>
<h2 class="tituloApodos">
    <img src="assets/icons/firma.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.apodosTitulo' | translate }}
</h2>
<h3 class="subTituloApodos">
    <img src="assets/icons/apodo2.png" alt="" class="iconosImg2 animated rollIn">
   {{ 'app.apodosSubtitulo1' | translate }}
</h3>
<h4 class="subTituloApodos">
  <img src="assets/icons/apodo.png" alt="" class="iconosImgFav animated rollIn">
  {{ 'app.apodosSubtitulo2' | translate }}
</h4>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
<br>
<div class="divAka">
  <h3>{{ 'app.familiaApodos' | translate}}</h3>
  <img src="assets/icons/familia.png" alt="familia" class="icon animated fadeIn">
  <ul>
    <div *ngFor="let viajero of viajerosService.viajerosLista">
      <li>
        <span class="nombre">{{viajero.nombreCorto}} ({{viajero.edad}} {{ 'app.edad' | translate}})</span>
        <div *ngFor="let apodo of viajero.aka">
          <span class="apodos">{{apodo}}</span>
        </div>
      </li>
    </div>
  </ul>
</div>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
