<!-- <h2>Responsive Image Gallery</h2> -->

<br>
<h2 class="tituloGaleria">
  <img src="assets/icons/galeria.png" alt="" class="iconosImg animated rollIn"> &nbsp;
  {{ 'app.galeriaImagenes' | translate }}</h2>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/home"><a routerLink="/home">{{ 'viaje.volver' | translate}}</a>
</div>

<div *ngIf="viajesService.cargandoFotosGaleria" class="spinner-container">
  <div class="spinner">      
  </div>
  <span> &nbsp; {{ 'app.cargando' | translate}}</span>
</div>

<br>
<br>
<div class="row fotosPerfiles">
    <div *ngFor="let viajero of viajerosService.viajerosLista" class="row dobleFotos">
        <figure>
            <a target="_blank" href="{{viajero.fotoPerfil}}"><img src="{{viajero.fotoPerfil}}" alt="{{viajero.nombreCorto}}" class="img-responsive"></a>
            <figcaption>{{viajero.nombreCompleto}} ({{viajero.edad}} {{ 'about.edad' | translate}})</figcaption>
        </figure>   
    </div>
</div>

<div class="paginacion">
  <pagination-controls class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
</div>

<div *ngFor="let viaje of viajesService.arrayFotos | paginate: { itemsPerPage: pageSize, currentPage: p }" class="responsive animated zoomInDown">
  <div class="gallery">
    <a target="_blank" href="assets/images/{{viaje}}">
      <img src="assets/images/{{viaje}}" alt="" width="600" height="400">
    </a>    
  </div>
</div>
<div class="paginacion">
  <pagination-controls class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
</div>

<div class="clearfix"></div>