.textoFoto {
  background: linear-gradient(rgba(255, 247, 232, -1), rgb(255, 227, 174));
  font-size: small;
  text-align: center;
  color: rgb(36, 36, 36);
}

.heading {
  font-family: "Playfair Display", times, serif;
}

#botonLupa {
  background: transparent;
  border-color: transparent;
}

.filtrado {
  margin-left: 35px;
  margin-right: 0px;
}

#busquedaForm {
  display: inline-flex !important;
  width: 100% !important;
  margin-right: 25px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: rgb(247, 200, 115);
  border-radius: 15px;
}

.my-pagination ::ng-deep .ngx-pagination :hover {
  background: rgb(255, 233, 194);
  border-radius: 15px;
}
div.gallery {
  /* border: 1px solid #ccc; */
  margin: 30px;
  box-shadow: 5px 10px 8px #888888;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 450px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradiente {
  background: linear-gradient(-45deg, #e9d3c6, #e4b69c, #f7af85, #ee9c6c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
