<br>
<h2 class="titulo">
    <img src="assets/icons/estrella.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.galeriaImagenesFav' | translate }}
</h2>
<h3 class="subTitulo">
    <img src="assets/icons/iconoFamiliar.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.subTituloFav' | translate }}
</h3>
<h4 class="subTitulo">
    {{ 'app.subTituloFav2' | translate }}
</h4>
<br>
<div class="tituloOrdenar">
  <button *ngIf="!orderDesc" class="botonOrdenar animated zoomInDown" (click)="ordenar()"><img src="assets/icons/flechaAbajo.png" class="iconoFlecha"> {{ 'app.ordenarPorAnyo' | translate }}</button>
  <button *ngIf="orderDesc" class="botonOrdenar animated zoomInDown" (click)="ordenar()"><img src="assets/icons/flechaArriba.png" class="iconoFlecha"> {{ 'app.ordenarPorAnyo' | translate }}</button>
  <div class="divRight">
    <img src="assets/icons/flechaAtras.png" class="animated zoomInDown iconoFlecha" routerLink="/principal"><a class="animated zoomInDown" routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
  </div>
</div>

<!-- Para autenticarse en la aplicación -->
<div *ngIf="authenticationService.isLoggedIn() === false">
  <br><br><br>
  <app-login></app-login>
  <br>
</div>


<div *ngIf="authenticationService.isLoggedIn()">

  <br>
  <div class="row fotosPerfiles">
    <div *ngFor="let viajero of viajerosService.viajerosLista" class="row dobleFotos">
        <figure>
            <a target="_blank" href="{{viajero.fotoPerfil}}"><img src="{{viajero.fotoPerfil}}" alt="{{viajero.nombreCorto}}" class="img-responsive"></a>
            <figcaption>{{viajero.nombreCompleto}} </figcaption>
            <figcaption>({{viajero.edad}} {{ 'app.edad' | translate}})</figcaption>
        </figure>
    </div>
  </div>
  <br>
  <div class="filtrado animated rollIn">
    <h3 class="heading">{{ 'header.buscar' | translate }}</h3>
      <form id="busquedaForm">
        <div id="busquedaForm" class="form-group">
            <input id="myInputFav" type="text" class="form-control gradiente" placeholder="{{ 'favoritos.filtrado' | translate }}">
                <button id="botonLupa" (click)="buscar()">
                    <img src="assets/icons/lupa.gif" alt="" class="iconosImg">
                </button>
        </div>
    </form>
  </div>

  <div *ngIf="(servicioFotos.cargandoFotosFav$ | async) === true" class="spinner-container">
    <div class="spinner">
    </div>
    <span> &nbsp; {{ 'app.cargando' | translate}}</span>
  </div>

  <br>
  <div class="paginacion">
    <pagination-controls *ngIf="servicioFotos.fotosFavLista.length > maxSizeDisplay" class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- <div *ngFor="let numFoto of [].constructor(numeroFotosFavoritos); let i = index" class="responsive"> -->
  <div *ngFor="let foto of servicioFotos.fotosFavLista | paginate: { itemsPerPage: pageSize, currentPage: p }" class="responsive animated zoomInDown">
    <div class="gallery">
      <!-- <figure class=""> -->
      <a target="_blank" href="assets/images/{{foto.id}}">
          <img src="assets/images/{{foto.id}}" loading="lazy" alt="" width="600" height="400">
          <figcaption class="textoFoto"><b>{{foto.anyo}}</b>, {{foto.lugar}}. {{ 'favoritos.'+foto.idDesc | translate}}</figcaption>
      </a>
      <!-- </figure> -->
    </div>
  </div>

  <div class="center">
    <span *ngIf="servicioFotos.fotosFavLista.length == 0"> {{ 'app.sinResultados' | translate}}</span>
  </div>

  <div class="clearfix"></div>
  <br>
  <br>
  <div class="paginacion">
    <pagination-controls *ngIf="servicioFotos.fotosFavLista.length > maxSizeDisplay" class="my-pagination" nextLabel="{{ 'app.siguiente' | translate}}" previousLabel="{{ 'app.anterior' | translate}}" [maxSize]=maxSizeDisplay (pageChange)="p = $event"></pagination-controls>
  </div>
</div> <!-- de la autenticacion -->

<br>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" loading="lazy" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>


