.select-container {
  display: block; /* Opcionalmente puedes usar 'flex' en lugar de 'block' */
  margin-bottom: 10px; /* Espacio entre los dos divs */
}

.selector {
  border-radius: 10px;
  width: 300px;
  background-color: rgb(247, 200, 115);
}

.imagenCentrada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconJuego {
  width: 60px;
  height: 60px;
}

.check-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  text-align: center;
  padding: 20px;
}

li {
  list-style-type: "";
  display: block;
}

h1 {
  color: #333;
}

.option {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #0056b3;
}
