.fh5co-post-entry article .fh5co-meta{
    font-size: 34px;
}

/* .fh5co-post-entry article {
    display: inline-block !important;
} */

.subtitulo{
    text-align: right !important;
    font-size: 26px !important;
    margin-right: 25px !important;
 }

.contenedor-imagen {
    position: relative;
    display: inline-block;
}

 .textoEnImagen{

    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    color: rgba(255, 255, 255, 0.6);; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    background-color: rgba(0, 0, 0, 0.2); /*Color de fondo del texto */
    padding: 5px; /* Espacio interno del texto */
    cursor: pointer;
    border-radius: 5px;

 }

 .iconosImg{
    padding: 2px;
    width: 60px;
    height: 60px;
    align-self: center;
    cursor: pointer;
    margin-top: -10px;
 }

 .tituloOrdenar{
    justify-content: space-between;
 }

.iconoFlecha {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color : rgb(247, 200, 115);
    border-radius: 15px;
}

.iconoFlechaPeque{
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color : rgba(247, 200, 115, 0.2);
    border-radius: 15px;
}

.botonOrdenar{
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    margin-left: 20px;
}
.bloqueAnyo{
    display: inline-block;
}
/*
.bloqueAnyo{
    border: 2px inset #000; /* Borde sólido de 1 píxel de grosor *
    padding: 5px; /* Espacio interno opcional para separar el contenido del borde *
    /* margin: 15px; *
 }

 @media only screen and (min-width: 480px) {
    .bloqueAnyo{
        padding: 4px;
        border : 0px;
    }
} */

  