<div class="container-fluid imagenFondo">
    <!-- <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div> -->
    
    <div class="row fh5co-post-entry">            
            <div *ngFor="let viajes of servicioViajes.viajesLista">
                <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12">
                    <figure>
                        <a routerLink="/viajesFiltrados/{{viajes.anyo}}"><img src="assets/images/pic_1.jpg" alt="Image" class="img-responsive"></a>
                    </figure>
                    <span class="fh5co-meta"><a routerLink="/viajesFiltrados/{{viajes.anyo}}">{{ 'app.destinos' | translate }}</a></span>
                    <div *ngFor="let destino of viajes.destinos">
                        <h2 class="fh5co-article-title"><a routerLink="/viaje/{{destino}}">{{destino}}</a></h2>
                    </div>
                    <span class="fh5co-meta fh5co-date">{{viajes.anyo}}</span>
                </article>
            
            <div class="clearfix visible-xs-block"></div>        
        </div>
    </div>


    <!-- <div class="row fh5co-post-entry">            
        <div>
            <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                <figure>
                    <a routerLink="/viajesFiltrados/2023"><img src="assets/images/pic_1.jpg" alt="Image" class="img-responsive"></a>
                </figure>
                <span class="fh5co-meta"><a routerLink="/viajesFiltrados/2023">Destinos</a></span>
                
                <h2 class="fh5co-article-title"><a routerLink="/viajesFiltrados/2023">Tossa</a></h2>
                
                <span class="fh5co-meta fh5co-date">2023</span>
            </article>
        
        <div class="clearfix visible-xs-block"></div>        
    </div>
</div> -->


</div>