<br>
<h2 class="tituloRecetas">
    <img src="assets/icons/hambre.png" alt="" class="iconosImgFav animated rollIn">
   {{ 'app.recetasTitulo' | translate }}
</h2>
<h3 class="subTituloRecetas">
    <img src="assets/icons/magdalena.png" alt="" class="iconosImgFav2 animated rollIn">
   {{ 'app.recetasSubtitulo1' | translate }}
</h3>
<h4 class="subTituloRecetas">
  <img src="assets/icons/babear.png" alt="" class="iconosImgFav animated rollIn">
    {{ 'app.recetasSubtitulo2' | translate }}
</h4>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
<div *ngIf="(servicioRecetas.cargandoRecetas$ | async) === true" class="spinner-container">
  <div class="spinner"></div>
  <span> &nbsp; {{ 'app.cargando' | translate}}</span>
</div>

<!-- Para autenticarse en la aplicación -->
<div *ngIf="authenticationService.isLoggedIn() === false">
  <br><br><br>
  <app-login></app-login>
  <br>
</div>


<div *ngIf="authenticationService.isLoggedIn()">

  <br><br>
  <div class="filtrado animated rollIn">
    <h3 class="heading">{{ 'header.buscar' | translate }}</h3>
      <form id="busquedaForm">
        <div id="busquedaForm" class="form-group">
            <input id="myInputReceta" type="text" class="form-control gradiente" placeholder="{{ 'app.recetasFiltrado' | translate }}">
                <button id="botonLupa" (click)="buscarRecetas('')">
                    <img src="assets/icons/lupa.gif" alt="" class="iconosImg">
                </button>
        </div>
    </form>
  </div>
  <br>

  <h3 class="center">
    {{'app.categoriaRecetas' | translate}}
  </h3>
  <div class="cuerpoImagenes">
    <div class="icon-container">
      <div *ngIf="this.categoria === 'frio'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('frio')"><img src="assets/icons/ingredienteSelected.png" alt="frio" class="iconosCategoriaSelec animated fadeIn pulse"></a></div>
      <div *ngIf="this.categoria !== 'frio'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('frio')"><img src="assets/icons/ingrediente.png" alt="frio" class="icon animated fadeIn pulse"></a></div>
      <div *ngIf="this.categoria === 'caliente'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('caliente')"><img src="assets/icons/fritoSelected.png" alt="caliente" class="iconosCategoriaSelec animated fadeIn pulse"></a></div>
      <div *ngIf="this.categoria !== 'caliente'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('caliente')"><img src="assets/icons/frito.png" alt="caliente" class="icon animated fadeIn pulse"></a></div>
      <div *ngIf="this.categoria === 'dulce'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('dulce')"><img src="assets/icons/pastelSelected.png" alt="postre" class="iconosCategoriaSelec animated fadeIn pulse"></a></div>
      <div *ngIf="this.categoria !== 'dulce'" class="separaImagen"><a class="js-fh5co-close-offcanvas" (click)="buscarRecetas('dulce')"><img src="assets/icons/pastel.png" alt="postre" class="icon animated fadeIn pulse"></a></div>
    </div>
  </div>
  <h3 class="center">
    {{'app.listaRecetas' | translate}} <a (click)="buscarRecetas('')">{{'app.lista' | translate}}</a>
  </h3>
  <br>
  <div class="separator"></div>
  <br>

  <div *ngIf="servicioRecetas.recetas.length > 1" class="cuerpoIndice">
    <div class="recipe-container">
      <div *ngFor="let receta of servicioRecetas.recetas" class="recipe-item">
        <a class="full-link" (click)="buscarRecetas(receta.nombre)">
          <img class="recipe-image" src="{{receta.imagen}}" alt="{{receta.nombre}}">
          <div class="recipe-title">{{'recetas.'+receta.id+'.nombre' | translate}}</div>
        </a>
      </div>
    </div>
  </div>

  <figure *ngIf="this.recetaMostrada.id > 0 ">
    <div class="center">
      <h2 class="recetaTitulo">{{'recetas.'+recetaMostrada.id+'.nombre' | translate}}</h2>
      <img *ngIf="recetaMostrada.categoria.indexOf('frio') >= 0" src="assets/icons/ingrediente.png" alt="frio" class="iconosCategoria animated rollIn">
      <img *ngIf="recetaMostrada.categoria.indexOf('caliente') >= 0" src="assets/icons/frito.png" alt="caliente" class="iconosCategoria animated rollIn">
      <img *ngIf="recetaMostrada.categoria.indexOf('dulce') >= 0" src="assets/icons/pastel.png" alt="dulce" class="iconosCategoria animated rollIn">
      <br>
      <cite class="recetaTitulo">«{{ 'recetas.'+recetaMostrada.id+'.frase' | translate}}»</cite>
      <br><br>
      <div class="imagenCentrada">
        <img src={{recetaMostrada.imagen}} alt="{{recetaMostrada.imagen}}" class="img-responsive">
      </div>
      <br>
      <blockquote>
        <h4 class="recetaTitulo">{{ 'app.especialidad' | translate}}: <b>{{recetaMostrada.cocinero}}</b></h4>
        <h4 class="recetaTitulo">{{recetaMostrada.raciones}} {{ 'app.raciones' | translate}}</h4>
        <h4 class="recetaTitulo">{{ 'app.dificultad' | translate}}: {{recetaMostrada.dificultad}}</h4>
        <h4 class="recetaTitulo">{{ 'app.tiempoPreparacion' | translate}}:  {{recetaMostrada.tiempoPreparacion}} {{ 'app.minutos' | translate}}</h4>
        <h4 *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('horno') >= 0" class="recetaTitulo">{{ 'app.tiempoHorno' | translate}}: {{recetaMostrada.tiempoHorno}} {{ 'app.minutos' | translate}} a {{recetaMostrada.temperatura}}</h4>
        <img *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('horno') >= 0" src="assets/icons/horno.png" alt="horno" class="iconosCategoria animated rollIn">
        <h4 *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('microondas') >= 0" class="recetaTitulo">{{ 'app.tiempoMicro' | translate}}: {{recetaMostrada.tiempoHorno}} {{ 'app.minutos' | translate}} a {{recetaMostrada.temperatura}}</h4>
        <img *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('microondas') >= 0" src="assets/icons/microondas.png" alt="microondas" class="iconosCategoria animated rollIn">
        <h4 *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('olla') >= 0" class="recetaTitulo">{{ 'app.tiempoOlla' | translate}}: {{recetaMostrada.tiempoHorno}} {{ 'app.minutos' | translate}}</h4>
        <img *ngIf="recetaMostrada.tiempoHorno > 0 && recetaMostrada.categoria.indexOf('olla') >= 0" src="assets/icons/olla.png" alt="olla" class="iconosCategoria animated rollIn">
        <img *ngIf="recetaMostrada.tiempoHorno < 0 && recetaMostrada.categoria.indexOf('nevera') >= 0" src="assets/icons/frio.png" alt="frio" class="iconosCategoria animated rollIn">
        <h4 *ngIf="recetaMostrada.tiempoHorno > 0" class="recetaTitulo">{{ 'app.tiempoTotal' | translate}}: <b>{{recetaMostrada.tiempoHorno+recetaMostrada.tiempoPreparacion}} {{ 'app.minutos' | translate}}</b></h4>
        <h4 *ngIf="recetaMostrada.tiempoHorno < 0" class="recetaTitulo">{{ 'app.tiempoTotal' | translate}}: <b>{{recetaMostrada.tiempoPreparacion}} {{ 'app.minutos' | translate}}</b></h4>
      </blockquote>
    </div>

    <div class="separator"></div>

    <blockquote>
      <h3 class="recetaTituloIngred">{{ 'app.ingredientes' | translate}}</h3>
      <div *ngFor="let numIngrediente of recetaMostrada.ingredientes" class="bloqueReceta recetaTituloIngred">
        <ul class="ingrediente">
          <li>&nbsp;{{ 'recetas.'+recetaMostrada.id+'.ingrediente'+numIngrediente | translate}}</li>
        </ul>
      </div>
    </blockquote>

    <div class="center">
      <blockquote>
        <h3>{{ 'app.pasos' | translate}}</h3>
        <div *ngFor="let paso of recetaMostrada.numPasos" class="bloqueReceta">
          <ul class="pasos">
            <h4 class="center">{{paso}}</h4>
            <li>&nbsp;{{ 'recetas.'+recetaMostrada.id+'.paso'+paso | translate}}</li>
          </ul>
        </div>
      </blockquote>
    </div>
  </figure>

</div><!-- de la autenticacion -->


<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
