
/* Para todas las animaciones*/
.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/***********************************fadeIn*************************************/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/***********************************fadeInDown*************************************/

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

/***********************************bounceInRight*************************************/
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0) scaleX(3);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0) scaleX(1);
    }

    75% {
        transform: translate3d(10px, 0, 0) scaleX(0.98);
    }

    90% {
        transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
  
.bounceInRight {
    animation-name: bounceInRight;
}

/***********************************rollIn*************************************/

@keyframes rollIn {
from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
}

to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}

.rollIn {
animation-name: rollIn;
}

/***********************************bounceInUp*************************************/

@keyframes bounceInUp {
from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
}

60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
}

75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
}

90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
}

to {
    transform: translate3d(0, 0, 0);
}
}

.bounceInUp {
    animation-name: bounceInUp;
}


/***********************************zoomInDown*************************************/
@keyframes zoomInDown {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomInDown {
    animation-name: zoomInDown;
  }

/***********************************fadeInDownBig*************************************/
  @keyframes fadeInDownBig {
    from {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDownBig {
    animation-name: fadeInDownBig;
  }