<div class="imagenFooter">
    <audio class="audio" controls autoplay loop>
        <source src="/assets/audios/audioMar.mp3">
        {{ 'app.audioNoSoportado' | translate }}
    </audio>    
    <!-- <audio [src]="audioMar.src" controls autoplay loop></audio> -->
    <!-- <audio #audioPlayer class="audio" [src]="audioMar.src" controls></audio> -->
    <footer id="fh5co-footer">
        <div class="col-lg-12 col-md-12 text-center">
            <h1 id="fh5co-logo"><a href="#">{{ 'app.viajes' | translate }} <sup>Serrador Casares</sup></a></h1>                
        </div> 
        <br><br>
        <p><b><small>&copy; {{anyo}}. All Rights Reserved. <br> Albert Serrador Sánchez</small></b></p>        
    </footer>    
</div>