<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated zoomInDown iconoFlecha" routerLink="/principal"><a routerLink="/principal"  class="animated zoomInDown">{{ 'viaje.volver' | translate}}</a>
</div>

<!-- <div class="tituloOrdenar">
  <button *ngIf="!orderDesc" class="botonOrdenar animated zoomInDown" (touchstart)="ordenar('touchstart')" (click)="ordenar('click')"><img src="assets/icons/flechaAbajo.png" class="iconoFlecha"> {{ 'app.ordenar' | translate }}</button>
  <button *ngIf="orderDesc" class="botonOrdenar animated zoomInDown" (touchstart)="ordenar('touchstart')" (click)="ordenar('click')"><img src="assets/icons/flechaArriba.png" class="iconoFlecha"> {{ 'app.ordenar' | translate }}</button>
  <h2 class="fh5co-article-title subtitulo animated fadeIn">
      <a>{{ 'header.mensajeCabeceraAnyos' | translate }}
          <img src="assets/icons/viajes.png" alt="" class="iconosImg animated rollIn">
      </a>
  </h2>
</div> -->

<div *ngIf="(servicioViajes.cargandoViajes$ | async) === true" class="spinner-container">
  <div class="spinner"></div>
  <span> &nbsp; {{ 'app.cargando' | translate}}</span>
</div>
<!-- col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12  -->
<div *ngIf="(servicioViajes.cargandoViajes$ | async) === false" class="row fh5co-post-entry">
  <div *ngFor="let viajes of servicioViajes.viajesLista">
    <article class="bloqueAnyo">
      <span routerLink="/viajesFiltrados/{{viajes.anyo}}" class="fh5co-meta fh5co-date">{{viajes.anyo}}</span>
      <figure class="contenedor-imagen">
          <a routerLink="/viajesFiltrados/{{viajes.anyo}}"><img src="assets/images/{{viajes.anyo}}/Portada{{viajes.anyo}}.jpg" class="img-responsive" loading="lazy"></a>
          <div routerLink="/viajesFiltrados/{{viajes.anyo}}" class="textoEnImagen img-responsiveAnyo">{{viajes.anyo}}
              <img src="assets/icons/flechaDer.png" class="animated fadeIn pulse iconoFlechaPeque " routerLink="/viajesFiltrados/{{viajes.anyo}}">
          </div>
      </figure>

      <div *ngFor="let destino of viajes.destinos">
          <h2 class="fh5co-article-title"><a routerLink="/viajesFiltrados/{{viajes.anyo}}">{{destino}}</a></h2>
      </div>
    </article>
  </div>
</div>

<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated zoomInDown iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
