<div class="videoContenedor animated fadeIn">
  <img src="assets/images/juegosArcade.jpg" loading="lazy" alt="inicio" class="">
</div>
<br>
<div class="">
  <div class="icon-container">
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/memory/"><img src="assets/icons/memory.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/quien-es-quien/"><img src="assets/icons/quien.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/adivina/"><img src="assets/icons/rompecabezas.png" alt="" class="icon animated fadeIn pulse"></a></div>
  </div>
</div>
<br><br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>

