<br>
<h2 class="tituloJuego">
    <img src="assets/icons/juegos.png" alt="" class="iconosImgFav animated rollIn">
  {{ 'app.juegosTitulo' | translate }}
</h2>
<h3 class="subTituloJuego">
    <img src="assets/icons/consola.png" alt="" class="iconosImgFav animated rollIn">
  {{ 'app.juegosSubtitulo1' | translate }}
</h3>
<h4 class="subTituloJuego">
    {{ 'app.juegosSubtitulo2' | translate }}
</h4>
<br>
<div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div>
<br><br>
<div class="videoContenedor animated fadeIn">
  <img src="assets/images/games/juegosArcade.jpg" loading="lazy" alt="inicio" class="">
</div>
<br>
<div class="cuerpoImagenes">
  <div class="icon-container">
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/memory/"><img src="assets/icons/memory.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/quien-es-quien/"><img src="assets/icons/quien.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/adivina/"><img src="assets/icons/rompecabezas.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/quiz/"><img src="assets/icons/prueba.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/tableros/"><img src="assets/icons/juego-de-mesa.png" alt="" class="icon animated fadeIn pulse"></a></div>
    <div class="icon"><a class="js-fh5co-close-offcanvas" routerLink="/games/misionCumplida/"><img src="assets/icons/juegos-de-cartas.png" alt="" class="icon animated fadeIn pulse"></a></div>
  </div>
</div>
<br><br>
<!-- <div class="divRight">
  <img src="assets/icons/flechaAtras.png" class="animated fadeIn iconoFlecha" routerLink="/principal"><a routerLink="/principal">{{ 'viaje.volver' | translate}}</a>
</div> -->

