.cuerpoImagenes {
  margin-top: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContenedor {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%; /* Este valor se calcula como el alto dividido por el ancho, en este caso, 9/16 */
  height: 0;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 10px 8px #888888;
}

.videoContenedor img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 692px) {
  .videoContenedor {
    margin: 45px;
  }
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.icon {
  width: 70px;
  height: 70px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .icon {
    width: 50px;
    height: 50px;
  }
}
