.game-wrapper {
  padding: 10px; /* Ajusta el espacio alrededor del juego */
}

.imagenCentrada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconJuego {
  width: 60px;
  height: 60px;
  /* margin: 10px; */
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-bottom: 20px;
  margin-left: auto; /* Mueve el contenedor a la derecha */
  margin-right: auto; /* Mueve el contenedor a la izquierda */
  width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}

.select-container {
  display: block; /* Opcionalmente puedes usar 'flex' en lugar de 'block' */
  margin-bottom: 10px; /* Espacio entre los dos divs */
}

.btnStart {
  text-align: center;
  background: transparent;
  border-radius: 30px;
  border: 4px solid rgb(33, 33, 33);
  background-color: rgb(255, 228, 177);
  width: 230px;
  height: 50px;
}

.selector {
  border-radius: 10px;
  width: 300px;
  background-color: rgb(247, 200, 115);
}

.imagen {
  border: 1px solid #000000;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
}

.jugadorSeleccionado {
  border: 5px solid rgb(247, 200, 115);
  border-radius: 10px;
}

.listaJugadores {
  margin-left: 30px;
  text-align: center;
}

.centraChecks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playerCheckbox {
  display: flex;
  align-items: center;
  margin: 5px; /* Espacio entre las checkboxes */
}

.playerCheckbox input[type="checkbox"] {
  margin-right: 5px; /* Espacio entre el checkbox y el texto */
}

.memory-game-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.memory-card {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Evita que la cara trasera sea visible durante la rotación */
}

.card-back {
  transform: rotateY(180deg); /* Inicia la parte trasera de la carta girada */
}

.memory-card.flipped .card-front {
  transform: rotateY(180deg); /* Gira la carta a su posición normal */
  transition: transform 0.5s ease; /* Agrega una transición suave al giro */
}

.memory-card.flipped .card-back {
  transform: rotateY(360deg); /* Gira la parte trasera a su posición normal */
  transition: transform 0.5s ease; /* Agrega una transición suave al giro */
}

.memory-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.player-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
